mat-card {
    margin: 16px;
}

mat-card img[mat-card-md-image] {
    position: absolute;
    top: 5px;
    right: 10px;
}

.stars {
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: 900;
    position: absolute;
}
